################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Swashbuckle.AspNetCore.Versioning/bin
/Swashbuckle.AspNetCore.Versioning/obj
/VersioningExample/bin
/VersioningExample/obj
